.sign_up_container {
  display: flex;
  flex-direction: column;
  font-family: var(--body-font);
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.sign_up_header {
  text-align: center;
  font-size: 26px;
  font-weight: var(--header-weight-size);
  color: #000;
  margin-bottom: 40px;
}

.sign_up_form {
  width: 400px;
  max-width: 600px;
  /* padding: 20px; */
}

.sign_up_icon {
  color: var(--color-light-button);
}

.sign_up_btn {
  width: 400px;
  font-size: var(--body-font);
  background-color: #fff;
  color: #000;
  border: 2px solid var(--color-light-button);
  border-radius: 20px;
}

.sign_up_btn:hover {
  background-color: var(--color-light-button);
  color: #fff;
}

.sign_up_btn_signup {
  width: 400px;
  height: 48px;
  font-size: 20px;
  font-weight: var(--header-weight-size);
  background-color: var(--color-light-button);
  color: #fff;
  border-radius: 35px;
}

.sign_up_btn_signup:hover {
  background-color: var(--color-light-button-hover);
  color: #fff;
}

.switch-to-login {
  text-align: center;
  color: #000;
}

.sign_up_link {
  color: var(--color-light-button);
  text-decoration: none;
  font-weight: var(--header-weight-size);
  margin-left: 20px;
}
