/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap");

:root {
  /* fonts */
  --logo-font: "Just Me Again Down Here";
  --body-font: "Arial, Helvetica, sans-serif";
  /* --logo-font: "Paytone One"; */

  /*Web font sizes */
  --logo-size: 35px;
  --header-size: 20px;
  --header-weight-size: 560;
  --body-size: 16px;

  --body-size-min: 18;

  --body-size: var(--body-size-min);
  --small-body-size: 12px;
  --big: 50px;
  --small-size: 14px;

  /* Colors */
  --color-light-button: #166dba;
  --color-light-button-hover: #8bbdee;
  --color-light-background: #f1f2ff;
  --color-light-stroke: #5091cb;

  --color-mode-1-button: #2a7378;
  --color-mode-1-footer: #3aafa9;
  --color-mode-1-frame-background: #def2f1;
  --color-mode-1-element2: #9cd6d3;
  --color-mode-1-button-hover: #439ba1;
  --color-mode-1-background: #fff;
  --color-mode-1-element-background: #fff;

  --color-mode-2-button: #254e58;
  --color-mode-2-footer: #458797;
  --color-mode-2-frame-background: #def2f1;
  --color-mode-2-element2: #9cd6d3;
  --color-mode-2-button-hover: #439ba1;
  --color-mode-2-background: #fffff7;
  --color-mode-2-element-background: #fff;

  --color-btn-disabled: #ccc;
  --color-text-disabled: #666;
  --color-error-button: #953333;
  --color-error-button-hover: #ee9696;
  --color-mode-1-shadow: rgba(42, 115, 120, 0.4);

  --button-border-radius: 5px;
  --frame-border-radius: 25px;
  --text-field-height: 45px;
  --small-tick-size: 20px;

  --color-button: var(--color-light-button);
  --color-stroke: var(--color-light-stroke);
  --color-footer: var(--color-mode-1-footer);
  --color-frame-background: var(--color-mode-1-frame-background);
  --color-element2: var(--color-mode-1-element2);
  --color-button-hover: var(--color-light-button-hover);
  --color-background: var(--color-light-background);
  --color-text: var(--color-black-text);
  --color-shadow: var(--color-mode-1-shadow);
  --color-header-dark: var(--color-mode-1-button);
  --color-header-light: var(--color-mode-1-element2);
  --color-element-background: var(--color-mode-1-element-background);

  /* Gaps */
  --gap-21xl: 40px;
  --gap-11xl: 30px;
  --gap-mini: 15px;
  --gap-8xs: 5px;

  /* Paddings */
  --padding-41xl: 60px;
  --padding-61xl: 80px;
  --padding-21xl: 40px;
  --padding-20xl: 39px;
  --padding-xl: 20px;
  --padding-2xs-5: 10.5px;
  --padding-8xs: 5px;
  --padding-base: 16px;
  --padding-9xs: 4px;
  --padding-lg: 18px;

  /* Border radiuses */
  --br-81xl: 100px;
  --br-8xs: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: 6px; /* Thiết lập kích thước của thanh cuộn */
  scrollbar-color: var(--color-button) var(--color-element2);
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--body-font);
  font-size: var(--body-size);
  width: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
}
